*{
  margin: 0;
}
body{
  padding: 0 2% 10% 2%;
  display: flex;
  flex-direction: column;
  gap:0;
}

#behind-nav{
  height:15vh;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 96%;
  height: 15vh;
  gap:0;
}

#invisible-logo{
  opacity: 0;
}

nav{
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}
nav a{
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}

nav a:hover{
  font-size: 1.4rem;
}
div{
  width: 100%;
}
#hero-section{
  width: 100%;
  background-color: black;
  height: 85vh;
  border: none;
}
#hero-section #video{
  display: block;
  width: 96%;
  margin: auto;
  padding: 0;
  height: 85vh;
  border: none;
}

#trainers-section{
  display:flex;
  flex-direction: row;
  gap: 0;
}
#trainers-section a{
  display: block;
  width: 24vw;
  height: 48vh;
}
#trainers-section a img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#jordan-section{
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  gap:0;
  height: 85vh;
  background-color: black;
}

#jordan-section #jordan-left img{
  width: 48vw;
  object-fit: cover;
  padding: 0;
  height: 85vh;
  object-position: top;
}

#jordan-section #jordan-right{
  width: 48vw;
  padding: 0;
}

#jordan-section #jordan-right p{
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

#nike-store-section{
  margin-top: 5%;
  margin-bottom: 5%;
  display:flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

#nike-store-section p{
  width: 50%;
  text-align: center;
}

#nike-logo{
width: 50%;
margin: 5%;
}

#email{
  border-radius: 4px;
  border: solid 2px black;
}

#submit{
  background-color: black;
  color: white;
  border-radius: 4px;
  border: solid 2px black;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  padding: 2%;
  text-align: center;
}

@media only screen and (max-width: 550px){
  header{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 96%;
  height: 15vh;
  align-items: center;
}
nav{
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}
}
